* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#c2a9b3db, #c2a9b3db),
    url(./images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container .image {
  width: 150px;
  height: 150px;
  background-color: red;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(./images/immoe.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .name {
  font-family: "Praise", cursive;
  font-size: 3em;
}

.container .role {
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.phone,
.email {
  background-color: white;
  margin-bottom: 10px;
  padding: 0.8rem;
}
